[Unit]
Description=Hemsaw Adapter
After=network.target multi-user.target

[Service]
Type=simple
WorkingDirectory=/etc/adapter/
ExecStart=/etc/adapter/Adapter
RuntimeMaxSec=86400s
Restart=always
RestartSec=3
StartLimitInterval=90s
StartLimitBurst=3
StandardOutput=journal
LimitCORE=10

[Install]
WantedBy=multi-user.target
